
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #5d0707;
    padding: 20px;
    color: #000000;
}
.contenedor-principal {
    background: linear-gradient(rgba(187, 188, 190, 0.75), rgba(5, 7, 12, 0.75)), url(../imag/43361.jpg);
    width: 100%;
    margin: auto; /* Centra la página en la pantalla */
    background-color: #a7ecff;
    border: 5px solid #21095f; /* Borde rojo simulando el bolígrafo */
    padding: 15px;
    display: flex;
    flex-direction:column;
    gap: 15px; /* Espacio entre el encabezado, el medio y el pie */
}

/* Encabezado (Título) */
.encabezado {
    border: 4px solid  #1a4899;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    color:rgba(255, 167, 236, 0.582)
}
/* Sección Media: Permite poner el Menú y el Contenido lado a lado */
.seccion-media {
    display: flex;
    gap: 15px;
    flex: 1;
    color: rgb(229, 206, 206);
    border-radius: 10px;
}
/* Menú lateral */
.menu {
    border: 2px solid #b338b3;
    width: 30%; /* Ocupa una parte de la pantalla */
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius:10px;
}
.menu h2 {
    margin-bottom: 15px;
    border-radius: 20px;
}
.menu nav {
    width: 100%;
}
.menu ul {
    list-style: none; /* Quita los puntos de la lista */
    width: 100%;
}
.menu li {
    margin-bottom: 10px;
}
/* Diseño de los botones de las páginas */
.menu a {
    display: block;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    color: rgb(28, 182, 162);
    border: 2px solid #6e7b82; /* Borde azul como en el dibujo */
    font-weight: bold;
    border-radius: 10px;
}
.menu a:hover {
    background-color: #5e7fb8; /* Efecto al pasar el ratón */
}
/* Contenido principal */
.contenido {
    border: 2px solid #0eafa7;
    width: 70%; /* Ocupa el resto de la pantalla junto al menú */
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    
}
.tablas{
    border: 2px solid #5df68e;
    margin: 2px;
    padding: 10px;
th,td{
        border: 1px solid #22eaea;
        padding: 5px;
    }
}
.contenido h2 {
    margin-bottom: 20px;
    font-size: 28px;
    color: #12b7b4;
}
/* Pie de página */
.pie-pagina {
    border: 4px solid #640b82;
    padding: 15px;
    text-align: left; 
    padding-left: 20px;
    font-weight: bold;
    text-align: center;
    color:#af3bd2
}
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 100vh;
    gap: 10px;
}                                                                                                                            
.item { border: 2px solid black; display: flex; align-items: center; justify-content: center; }

/* 1. Bandera Bolivia */
.bandera-bolivia { width: 100px; height: 60px; display: flex; flex-direction: column; }
.rojo { background: red; height: 33%; }
.amarillo { background: yellow; height: 33%; }
.verde { background: green; height: 33%; }

/* 2. Cajas dentro de cajas */
.caja-externa { width: 100px; height: 100px; background:green; display: flex; align-items: center; justify-content: center; }
.caja-media { width: 70px; height: 70px; background:yellow; display: flex; align-items: center; justify-content: center; }
.caja-interna { width: 40px; height: 40px; background: red; }
/* 3. Bandera vertical */
.bandera-vertical { width: 60px; height: 100px; display: flex; }
.rojo-v { background: red; width: 50%; }
.amarillo-v { background: yellow; width: 50%; }
.verde-v { background: green; width: 50%; }
/* 4. Círculos dentro de círculos */
.circulo-externo { width: 100px; height: 100px; background: green; border-radius: 50%; position: absolute; display: flex; align-items: center; justify-content: center; }
.circulo-media { width: 70px; height: 70px; background: yellow; border-radius: 50%; position: absolute;  }
.circulo-interno { width: 40px; height: 40px; background: red; border-radius: 50%;  position: absolute; }

form {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    max-width: 400px;
    margin: 0 auto;
    border: 6px solid #0056b3; 
    width: 100%;
}

.campo {
    margin-bottom: 15px;
}
label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}
input[type="text"], 
input[type="email"], 
input[type="date"], 
input[type="color"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type="color"] {
    height: 40px;
    padding: 2px;
}
button {
    background-color: #89b6ff; 
    color: black;
    padding: 10px;
    border: 2px solid #333;
    cursor: pointer;
    width: 100%;
    font-weight: bold;
    font-size: 16px;
}
button:hover {
    background-color: #ccc;
}
#mensajeAviso {
    color: red;
    font-weight: bold;
    text-align: center;
}

.contenedor-formulario {
    background-color: white;
    padding: 20px 30px;
    border: 2px solid #333;
    border-radius: 5px;
    width: 320px;
}
h2 {
    text-align: center;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 1px;
    color: #6fe390;
    margin-top: 0;
    margin-bottom: 25px;
}
label {
    font-family: monospace;
    font-size: 16px;
    color: #60accf; 
}

button {
    background-color: #aa8282;
    border: 1px solid #0d1944;
    padding: 5px 15px;
    cursor: pointer;
    font-family: monospace;
    font-size: 14px;
    margin-top: 10px;
}
button:hover {
    background-color: #1d0404;
}
#resultado {
    margin-top: 15px;
    text-align: center;
    font-weight: bold;
    font-family: monospace;
    font-size: 16px;
    min-height: 20px; 
}